{% extends 'bases.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<form action="" method="post">
    {% csrf_token %}

    <div class="bg-slate-800 bg-opacity-50 flex justify-center items-center absolute top-0 right-0 bottom-0 left-0">
        <div class="bg-white px-16 py-14 rounded-md text-center w-[50%]">
            <hr>
            <br>
            <h1 class="text-xl mb-4 font-bold text-slate-500">Voulez-vous vraiment supprimer ?</h1>
            <button type="submit" class="  bg-red-500 px-4 py-2 rounded-md text-md text-white">OUI</button>
            <a href="/listes_commande"
                class="bg-indigo-500 px-7 py-2 ml-2 rounded-md text-md text-white font-semibold">NON
            </a>
        </div>
    </div>

</form>
{% endblock %}