{% extends 'bases.html' %}
{% load static %}
{% load crispy_forms_tags %}




{% block content %}

{% block btn-nav %}
<a href="{% url 'add_commande' %}" class=" float-right text-center p-2 text-gray-300 bg-orange-400 rounded-sm m-2 mb-3">
    Ajouter Commande</a>
{% endblock btn-nav %}




{% if messages %}
{% for message in messages %}
<ul class=" msg  flex flex-row justify-center items-center mx-auto 
text-white w-[50%] bg-green-500">
    <li class="arrow"></li>
    <li class="  {{ messages.tags }}"> {{ message }}</li>
</ul>
{% endfor %}

{% endif %}


<div class="  mx-auto   w-[80%] ">
    <div class=" flex  mx-auto ">
        <br>
        <form action="" method="POST" autocomplete="off" class=" mx-auto shadow-xl m-1 w-[70%]">
            {% csrf_token %}

            <div class="flex flex-row justify-between  rounded-lg">
                <div class="flex flex-row items-center gap-1 w-[100%] ml-3 mr-3  m-2">
                    <div class="w-[50%]">

                        {{ form.nom|as_crispy_field }}
                    </div>
                    ou
                    <div class="w-[50%]">
                        {{ form.numero_commande|as_crispy_field }}

                    </div>

                    <div class="w-[50%]">
                        {{ form.generer_commande|as_crispy_field }}

                    </div>


                    <button
                        class="btn    bg-blue-600 text-center text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700  focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out flex items-center"
                        type="submit" id="button-addon2">
                        <div class="">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search"
                                class="w-12  text-center" role="img" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 512 512">
                                <path fill="currentColor"
                                    d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                                </path>
                            </svg>
                        </div>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<br>

<h1 class="text-center">{{title}}</h1>

<div class="">
    <table class=" table-auto p-2  mx-auto  rounded-xl shadow-lg 
    text-center text-base sm:text-3xl md:text-3xl lg:text-lg 
    items-center  space-x-2 w-auto  bg-white 
    overflow-x-hidden overflow-scroll" id="table">
        <thead>
            <tr class="text-left">
                <th class="w-[10%] pl-4 ">-- # compte --</th>
                <th class="w-[10%] pl-4 ">Nom</th>
                <th class="w-[20%] ">Numero de la commande</th>
                <th class="w-[10%] pl-4 ">Phone</th>
                <th class="w-[10%]">Total</th>
                <th class="w-[10%]">Supprimer</th>


            </tr>
        </thead>
        <tbody class="">
            {% for commandes in commande %}
            <tr class="text-gray-500 text-left" id="chk_data_table">
                <td class="pl-4"> {{ forloop.counter }} </td>
                <td class="link text-orange-500 underline"><a href=" {% url 'edite_commande' commandes.id %} "
                        title="Editer">{{ commandes.nom }}</a></td>

                <td class=""> {{ commandes.numero_commande }} </td>
                <td class=""> {{ commandes.phone }} </td>
                <td> {{ commandes.total }} </td>
                <td>
                    <a href="{% url 'delete_commande' commandes.id %}">
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16">
                            </path>
                        </svg>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</div>
<span class="text-danger" id="no-data"></span>

</div>
<br>
<br><br>

{% endblock %}

{% block footer %}
{% endblock footer %}